:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 35vh;
  
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #E040FB;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  padding: 20px;
}

button {
  padding: 10px 20px; /* Aumente o padding horizontal para preencher mais espaço */
  border-radius: 5px;
  border: 1px solid #b8c0ff;
  cursor: pointer;
  margin: 10px; /* Ajuste a margem conforme necessário */
  width: 80%; /* Defina uma largura relativa para preencher a div */
}

h2, p {
  width: 100%; /* Defina a largura para preencher a div */
  text-align: center; /* Centralize o texto horizontalmente */
}
